<%- include('../header') %>

    <div class="page-wrapper">

        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Extra Category Information</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Extra Category</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        <!-- ✨ FIXED FORM ACTION -->
                        <form class="form-horizontal" method="post"
                            action="/extracategory/update-extracategory/<%= extraCat._id %>">
                            <div class="card-body">
                                <h4 class="card-title">Extra Category Info</h4>

                                <!-- CATEGORY DROPDOWN -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Category
                                        Name</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="categoryId" disabled>
                                            <option>Select Any Category</option>

                                            <% categories.forEach(category=> { %>
                                                <option value="<%= category._id %>" <% if
                                                    (category._id.toString()===extraCat.categoryId._id.toString()) { %>
                                                    selected
                                                    <% } %>>
                                                        <%= category.categoryName %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div>
                                </div>

                                <!-- SUB CATEGORY DROPDOWN -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Sub Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="subCategoryId" disabled>

                                            <% subcategories.forEach(sub=> { %>
                                                <option value="<%= sub._id %>" <% if
                                                    (sub._id.toString()===extraCat.subCategoryId._id.toString()) { %>
                                                    selected
                                                    <% } %>>
                                                        <%= sub.subCategoryName %>
                                                </option>
                                                <% }) %>

                                        </select>
                                    </div>
                                </div>

                                <!-- EXTRA CATEGORY NAME -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Extra
                                        Category</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="extraCategory"
                                            value="<%= extraCat.extraCategory %>"
                                            placeholder="Enter Extra Category Name">
                                    </div>
                                </div>

                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <%- include('../footer') %>