<%- include('../header') %>

    <div class="page-wrapper">

        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">All Extra Categories</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Extra Category</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Category Image</th>
                                    <th>Sub Category Name</th>
                                    <th>Extra Category Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% extraCategories.forEach((item, i)=> { %>
                                    <tr>
                                        <td>
                                            <%= i + 1 %>
                                        </td>

                                        <td>
                                           <img src="<%=  item.categoryId.categoryImage %>"  alt="category-img" width="100px"> 
                                        </td>

                                        <td>
                                            <%=  item.categoryId.categoryName  %>
                                        </td>
                                        <td>
                                            <%=  item.subCategoryId.subCategoryName  %>
                                        </td>

                                        <td>
                                            <%= item.extraCategory %>
                                        </td>

                                        <td>
                                            <a href="/extracategory/edit-extracategory/<%= item._id %>">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            ||
                                            <a href="/extracategory/delete-extracategory/<%= item._id %>">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        <%- include('../footer') %>